<div fxLayout="row wrap" fxLayoutAlign="center">
    <mat-form-field>
        <mat-select placeholder="Year" [(ngModel)]="data.year" (selectionChange)='updateTeams()'
            [disabled]='!seasonList'>
            <mat-option [disabled]="isPlayType && s < 2015" *ngFor="let s of seasonList" [value]="s">{{s | seasonDisplay}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Season Type" [(ngModel)]="data.type" (selectionChange)='updateTeams()'
            [disabled]='!data.year'>
            <mat-option *ngFor="let s of seasonTypeList" [value]="s">{{s}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Team" [(ngModel)]="data.team" (selectionChange)='updatePlayers()' [disabled]='!data.year'>
            <mat-option *ngFor="let t of teamList" [value]="t">{{t}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf='showOpponent'>
        <mat-select placeholder="Opponent" [(ngModel)]="data.opponent" (selectionChange)='emit()' [disabled]='!data.year || !data.team'>
            <mat-option *ngFor="let t of teamList" [value]="t">{{t}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf='showPlayerList'>
        <mat-select placeholder="Player" [(ngModel)]="data.player" (selectionChange)='emit()' [disabled]='!data.team'>
            <mat-option *ngFor="let p of playerList" [value]="p">{{p}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>