#root {
  margin: 10px;
}

.game {
  padding: 5px;
}

.gameCard {
  width: 300px;
  margin: 5px;
}

@media (max-width: 600px) {
  .gameCard {
    width: 95vw !important;
  }
}

.gameCard .teamRow, 
.gameCard .infoRow {
  text-align: left;
  font-size: 18px;
}

.gameCard .infoRow {
  padding-top: 15px;
  align-content: center;
}

.gameCard .scoreArea {
  padding-right: 15px;
}

.gameCard .teamRow img {
  vertical-align: middle;
  height: 50px;
  width: 50px;
}

.natTv {
  padding-right: 10px;
}

.gameCard .infoRow mat-icon{
  vertical-align: middle;
}

.gameCard 
.buttonArea {
  margin: auto;
  margin-right: 0;
}

.tv-logo {
  display: flex;
  align-items: center;
}

.tv-logo span {
  padding-left: 2px;
}

#clearFilterContainer {
  display: inline;
  padding: 10px;
}

table {
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
}

td {
  text-align: left;
}

.team-logo {
  height: 80px;
  width: 80px;
}

.team-score {
  font-size: 2rem;
}

.gameScore {
  display: flex;
  align-items: center;
}

.winner {
  font-weight: bold;
}

mat-paginator {
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
}

.outer-wrapper {
  text-align: center;
}

.mat-progress-spinner {
  display: flex;
  margin: auto;
}

.mat-card-actions button {
  width: 100%;
}

.gameSelectControls {
  padding-top: 20px;
  overflow: hidden;
}