<div class='outer-wrapper'>
  <h2>Games</h2>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Date">
      <div class='gameSelectControls' fxLayout='row' fxLayoutAlign='center'>
        <button mat-button (click)="changeDate(-1)">
          <mat-icon svgIcon="previous"></mat-icon>
        </button>
        <mat-form-field>
          <input matInput [(ngModel)]="currentDate" [matDatepicker]="picker" placeholder="Game Date"
            (dateChange)="getGames()" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-button (click)="changeDate(1)">
          <mat-icon svgIcon="next"></mat-icon>
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Search">
      <div class='gameSelectControls' fxLayout="row wrap" fxLayoutAlign="center center">
        <season-team-controls (update)="updateTeamSearch($event)" [showOpponent]="true"></season-team-controls>
        <button mat-raised-button color="primary" (click)="search()"
          [ngStyle]="{'height': '36px', 'margin-left': '10px'}"
          [disabled]="!teamSeasonSearch.team">SEARCH</button>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div fxLayout='row wrap' fxLayoutAlign='center' *ngIf='!isLoading && games.length > 0 && gamesDisplayedByDate'>
    <mat-card class='gameCard' *ngFor='let game of games'>
      <mat-card-content>
        <div fxLayout='column'>
          <div fxLayout='row' fxLayoutAlign="space-between center">
            <div fxLayout='column' fxLayoutAlign="center">
              <img class="team-logo" alt='{{vTeam}} Logo' src="assets/img/{{game.vTeam.triCode}}.png">
              <span class='team-score' [ngClass]="{winner: +game.hTeam.score < +game.vTeam.score}">
                {{teamDisplay(game, false)}}
              </span>
            </div>
            <div>
              <span style='font-size: 2rem'>@</span>
            </div>
            <div fxLayout='column' fxLayoutAlign='center center'>
              <img class="team-logo" alt='{{hTeam}} Logo' src="assets/img/{{game.hTeam.triCode}}.png">
              <span class='team-score' [ngClass]="{winner: +game.hTeam.score > +game.vTeam.score}">
                {{teamDisplay(game, true)}}
              </span>
            </div>
          </div>
          <div *ngIf="game.playoffs" fxLayout='row' fxLayoutAlign="space-between center" class="infoRow">
            <span>Game: {{game.playoffs.gameNumInSeries}} - {{game.playoffs.seriesSummaryText}}</span>
          </div>
          <div class='infoRow' fxLayout='row'>
            <div class='natTv' *ngIf='game.watch.broadcast.broadcasters.national.length > 0'>
              <mat-icon svgIcon="tv"></mat-icon>
              <span>{{game.watch.broadcast.broadcasters.national[0].shortName + ':'}}</span>
            </div>
            <span>{{statusMap(game)}}</span>
          </div>
          <div class='nuggetRow' fxLayout='row wrap'>
            <span>{{game.nugget.text}}</span>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="game.statusNum > 1" mat-stroked-button color="primary" [disabled]="game.statusNum <= 1"
          routerLink='/gameDetail/{{_api.formatDate(currentDate)}}/{{game.gameId}}/{{game.hTeam.triCode}}/{{game.vTeam.triCode}}'>
          GAME PAGE
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxLayout='row wrap' fxLayoutAlign='center' *ngIf='!isLoading && games.length > 0 && !gamesDisplayedByDate'>
      <mat-card class='gameCard' *ngFor='let game of games'>
        <mat-card-content>
          <div fxLayout='column'>
            <div fxLayout='row' fxLayoutAlign="space-between center">
              <div fxLayout='column' fxLayoutAlign="center">
                <img class="team-logo" alt='{{vTeam}} Logo' src="assets/img/{{game.away}}.png">
                <span class='team-score' [ngClass]="{winner: +game.home_score < +game.away_score}">
                  {{game.away}} - {{game.away_score}}
                </span>
              </div>
              <div>
                <span style='font-size: 2rem'>@</span>
              </div>
              <div fxLayout='column' fxLayoutAlign='center center'>
                <img class="team-logo" alt='{{hTeam}} Logo' src="assets/img/{{game.home}}.png">
                <span class='team-score' [ngClass]="{winner: +game.home_score > +game.away_score}">
                  {{game.home}} - {{game.home_score}}
                </span>
              </div>
            </div>
            <div class='nuggetRow' fxLayout='row wrap'>
                <span>{{game.date | date:'mediumDate'}}</span>
              </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary"
            routerLink='/gameDetail/{{_api.formatDate(currentDate)}}/{{game.id}}/{{game.home}}/{{game.away}}'>
            GAME PAGE
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

  <mat-progress-spinner color="primary" mode="indeterminate" *ngIf="isLoading"></mat-progress-spinner>
  <div *ngIf="!isLoading && games.length <= 0">No Games for this Date</div>
</div>