.team-logo {
  height: 25vw;
  max-height: 120px;
  width: 25vw;
  max-width: 120px;
}


@media screen and (min-width: 600px) {
  .stat {
      font-size: 35px;
  }
}

@media screen and (max-width: 599px) {
  .stat {
      font-size: 5vw;
  }
}

.expansion-panel {
  max-width: 524px;
}

.glossary-table {
  width: 100%;
  text-align: left;
}

.mat-expansion-panel-body {
  padding: 0 0 0 0 !important;
}