<div fxLayout='column' fxLayoutAlign='center center'>

  <div class='expansion-panel'>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Glossary</mat-panel-title>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="glossaryData" class="mat-elevation-z8 glossary-table">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Stat </th>
            <td mat-cell *matCellDef="let e"> {{e.name}} </td>
          </ng-container>

          <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let e"> {{e.desc}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="glossaryColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: glossaryColumns;"></tr>
        </table>


      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Quarter Filter</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout='row' fxLayoutAlign='space-between space-between' class='team-column'>

          <mat-checkbox [(ngModel)]="quarterFilter.q1" (change)='quarterFilterChange()'>Q1</mat-checkbox>
          <mat-checkbox [(ngModel)]="quarterFilter.q2" (change)='quarterFilterChange()' [disabled]='secondsPlayed <= 720'>Q2</mat-checkbox>
          <mat-checkbox [(ngModel)]="quarterFilter.q3" (change)='quarterFilterChange()' [disabled]='secondsPlayed <= 1440'>Q3</mat-checkbox>
          <mat-checkbox [(ngModel)]="quarterFilter.q4" (change)='quarterFilterChange()' [disabled]='secondsPlayed <= 2160'>Q4</mat-checkbox>
          <mat-checkbox [(ngModel)]="quarterFilter.ot" (change)='quarterFilterChange()' [disabled]='secondsPlayed <= 2880'>OT</mat-checkbox>

        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div fxLayout='row' fxLayoutAlign='center' class='team-column'
  *ngIf='quarterFilter.q1 || quarterFilter.q2 || quarterFilter.q3 || quarterFilter.q4 || quarterFilter.ot'>

    <game-overview-column [team]='awayTeam' [data]='awayData'></game-overview-column>

    <div fxLayout='column'>
      <div class='team-logo'></div>
      <span class='stat'>Poss</span>
      <span class='stat'>O-Rtg</span>
      <span class='stat'>Time to Shot</span>
      <mat-divider></mat-divider>
      <span class='stat'>TSA</span>
      <span class='stat'>TS%</span>
      <span class='stat'>Shots</span>
      <span class='stat'>EFG%</span>
      <span class='stat'>FTA</span>
      <span class='stat'>FT%</span>
      <mat-divider></mat-divider>
      <span class='stat'>O-Rebs</span>
      <span class='stat'>2nd Pts</span>
      <mat-divider></mat-divider>
      <span class='stat'>Tovs</span>
      <span class='stat'>Dead</span>
      <span class='stat'>Live</span>
      <span class='stat'>Pts Off</span>
      <mat-divider></mat-divider>
      <span class='stat'>Live Poss Change</span>
      <span class='stat'>Time to Shot</span>
      <span class='stat'>Dead Poss Change</span>
      <span class='stat'>Time to Shot</span>
    </div>

    <game-overview-column [team]='homeTeam' [data]='homeData'></game-overview-column>

  </div>

  <div *ngIf='!(quarterFilter.q1 || quarterFilter.q2 || quarterFilter.q3 || quarterFilter.q4 || quarterFilter.ot)'>
    No Events For Selected Filters
  </div>

</div>