<img class='team-logo' src='assets/img/{{team}}.png'>

<div class='expandableMessage'>
  Rows are expandable. Click to see more stats
</div>

<table mat-table matSort [matSortActive]='initialSortCol'
      [matSortDirection]='initialSortDir' matSortStart='desc'
      [dataSource]="dataSource" multiTemplateDataRows
      class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef [ngClass]='{leftAligned: isLeftAlignedColumn(column)}'> {{getColumnName(column)}} </th>
    <td mat-cell *matCellDef="let element" [ngClass]='{leftAligned: isLeftAlignedColumn(column)}'> {{getProperty(element, column)}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let p" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="p == expandedElement ? 'expanded' : 'collapsed'" fxLayout='row wrap'>
           <div class='expandedStatCategory' fxLayout='column'>
             <h4>Shooting</h4>
             <div>2PT: {{formatMakeAttempts(p.fg2m, p.fg2a)}}</div>
             <div>3PT: {{formatMakeAttempts(p.fg3m, p.fg3a)}}</div>
           </div>
           <div class='expandedStatCategory' fxLayout='column'>
            <h4>Free Throws</h4>
            <div>Shooting: {{formatMakeAttempts(p.ftm, p.fta)}}</div>
            <div>2pt Fouls: {{p.two_pt_fouls}}</div>
            <div>3pt Fouls: {{p.three_pt_fouls}}</div>
            <div>And 1's: {{p.and_one}}</div>
          </div>
          <div class='expandedStatCategory' fxLayout='column'>
            <h4>Scoring Efficiency</h4>
            <div>Efg%: {{p.efg}}%</div>
            <div>TS%: {{p.ts_pct}}%</div>
          </div>
          <div class='expandedStatCategory' fxLayout='column'>
            <h4>Assists</h4>
            <div>Total: {{p.ast}}</div>
            <h4>Assisted Players</h4>
            <div *ngFor='let p of p.players_assisted'>{{formatPlayerAssisted(p)}}</div>
          </div>
          <div class='expandedStatCategory' fxLayout='column'>
            <h4>Rebounds</h4>
            <div>Off: {{p.oreb}}</div>
            <div>Def: {{p.dreb}}</div>
          </div>
          <div class='expandedStatCategory' fxLayout='column'>
            <h4>Misc</h4>
            <div>Tov: {{p.tov}}</div>
            <div>Stl: {{p.stl}}</div>
            <div>Blk: {{p.blk}}</div>
          </div>
          <div class='expandedStatCategory' fxLayout='column'>
              <h4>Plus / Minus</h4>
              <div>Total: {{p.opoints - p.dpoints}}</div>
              <div>Ortg: {{p.ortg}}</div>
              <div>Drtg: {{p.drtg}}</div>
              <div>NetRtg: {{p.ortg - p.drtg | number: '1.1-1'}}</div>
          </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>