:host{
  margin: 10px;
}

@media (max-width: 800px) {
  table {
    width: 95vw;
  }
}

@media (min-width: 801px) {
  table {
    min-width: 400px;
    width: 80vw;
  }
}

table {
  margin: auto;
}

.leftAligned {
  text-align: left !important;
}

th.mat-header-cell {
  text-align: center;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.expandedStatCategory {
    margin: 10px;
    text-align: left;
}

.team-logo {
  height: 7%;
  width: 7%;
}