:host {
    margin: 10px;
}

#yAxis > figure {
    transform: rotate(-90deg)
}

#selected-players {
    min-height: 52px;
}

.play-type-chart {
    width: 19%;
}

#yAxis {
    width: 3.5%;
}

#xAxis {
    height: 3.5%;
}