<div class='filterControls' fxLayout='column' fxLayoutAlign='center center'>

  <div fxLayout='row wrap' fxLayoutAlign='center center'>
    <season-team-controls (update)='updateTeamSeason($event)' showPlayerList='true' isPlayType='true'></season-team-controls>
  </div>

  <div>
    <button mat-raised-button color="primary" (click)="addPlayer()" [disabled]="!teamSeason.player">ADD PLAYER</button>
  </div>

  <div id='selected-players' fxLayout="row">
    <div fxLayout="row" *ngFor="let player of playerPoints; let i = index">
      <p>{{player.player.player}} - {{player.player.team}} - {{player.player.year}}</p>
      <button mat-button (click)="removePlayer(player)">
        <mat-icon [ngStyle]="{'color': player.color}" svgIcon="remove"></mat-icon>
      </button>
    </div>
  </div>
</div>

<div *ngIf='playTypeData'>
  <div fxLayout='column'>
    <div fxLayout='row'>
      <div id='yAxis'>
        <svg viewBox='0 0 10 100' width='100%' height='100%'>
          <text style="font-size: 5px;" x="5" y="50" text-anchor="middle" transform="rotate(-90, 5, 50)">Points Per
            Possession</text>
        </svg>
      </div>
      <div fxLayout='row wrap'>
        <div class='play-type-chart' *ngFor="let pt of playTypes; let i = index">
          <play-type-chart [playType]='pt' [showXAxis]='i%5==0' [showYAxis]='i>4' [data]='getDataByPlayType(pt)'>
          </play-type-chart>
        </div>
      </div>
    </div>
    <div id='xAxis'>
      <svg viewBox='0 0 100 10' width='100%' height='100%'>
        <text style="font-size: 1px;" x="50.85" y="1" text-anchor="middle">Percentage of Possessions</text>
      </svg>
    </div>
  </div>
</div>