<div fxLayout='column'>
  <img class='team-logo' alt='{{team}}' src='assets/img/{{team}}.png'>
  <game-overview-stat [stat]='data.possessions'></game-overview-stat>
  <game-overview-stat [stat]='data.ortg'></game-overview-stat>
  <game-overview-stat [stat]='data.timeToFirstShot'></game-overview-stat>
  <mat-divider></mat-divider>
  <game-overview-stat [stat]='data.tsa'></game-overview-stat>
  <game-overview-stat [stat]='data.tsPct'></game-overview-stat>
  <game-overview-stat [stat]='data.shots'></game-overview-stat>
  <game-overview-stat [stat]='data.efgPct'></game-overview-stat>
  <game-overview-stat [stat]='data.ft'></game-overview-stat>
  <game-overview-stat [stat]='data.ftPct'></game-overview-stat>
  <mat-divider></mat-divider>
  <game-overview-stat [stat]='data.oreb'></game-overview-stat>
  <game-overview-stat [stat]='data.secondChancePoints'></game-overview-stat>
  <mat-divider></mat-divider>
  <game-overview-stat [stat]='data.tov'></game-overview-stat>
  <game-overview-stat [stat]='data.deadTov'></game-overview-stat>
  <game-overview-stat [stat]='data.liveTov'></game-overview-stat>
  <game-overview-stat [stat]='data.pointsOffTov'></game-overview-stat>
  <mat-divider></mat-divider>
  <game-overview-stat [stat]='data.liveBallPoss'></game-overview-stat>
  <game-overview-stat [stat]='data.liveBallPossTime'></game-overview-stat>
  <game-overview-stat [stat]='data.deadBallPoss'></game-overview-stat>
  <game-overview-stat [stat]='data.deadBallPossTime'></game-overview-stat>
</div>