<div fxLayout='row' fxLayoutAlign="center center" class='shotChartControls'>
  <div>
    <img class='team-logo' src='assets/img/{{team}}.png'>
  </div>
  <div>
    <mat-form-field>
      <mat-select [(ngModel)]="settings.selection" (selectionChange)="updateSettings()">
        <mat-option [value]="team">{{team}}</mat-option>
        <mat-option *ngFor="let player of playerList" [value]="player">{{player}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="shotChartControlsMenu">
      <mat-icon svgIcon="settings"></mat-icon>
    </button>
    <mat-menu #shotChartControlsMenu="matMenu">
      <div mat-menu-item>
        <mat-checkbox class="control" [(ngModel)]="settings.showShots" (change)="updateSettings()">Shots</mat-checkbox>
      </div>
      <div mat-menu-item>
        <mat-checkbox class="control" [(ngModel)]="settings.showAssists" (change)="updateSettings()">Assists</mat-checkbox>
      </div>
      <div mat-menu-item>
        <mat-checkbox class="control" [(ngModel)]="settings.showFouls" (change)="updateSettings()">Fouls Drawn</mat-checkbox>
      </div>
      <div mat-menu-item>
        <mat-checkbox class="control" [(ngModel)]="settings.showTov" (change)="updateSettings()">Turnovers</mat-checkbox>
      </div>
    </mat-menu>
  </div>
</div>
