<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="header-navigation" fxLayout="row" fxLayoutAlign="space-between center" fxFill>
      <div>
        <span>NBAVIZ</span>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <button mat-stroked-button [matMenuTriggerFor]="navMenu">SITE MAP</button>
        <button mat-stroked-button [matMenuTriggerFor]="aboutMenu">ABOUT</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #aboutMenu="matMenu">

  <button mat-menu-item>
    <a href="mailto:patrick.fenerty@pm.me" class="footer-text">
      <mat-icon svgIcon="email"></mat-icon>
      Email
    </a>
  </button>

  <button mat-menu-item>
    <a href="https://twitter.com/PhilJFry5" class="footer-text">
      <mat-icon svgIcon="twitter"></mat-icon>
      Twitter
    </a>
  </button>

  <button mat-menu-item>
    <a href="https://gitlab.com/pfenerty/nbapp" class="footer-text">
      <mat-icon svgIcon="github"></mat-icon>
      Code
    </a>
  </button>

  <button mat-menu-item>
    <a href="http://bourbonstreetshots.com" class="footer-text">
      <mat-icon svgIcon="reader"></mat-icon>
      Bourbon Street Shots
    </a>
  </button>

</mat-menu>

<mat-menu #navMenu>
  <button mat-menu-item>
    <a routerLink='/games' class="footer-text">
      <mat-icon svgIcon="home"></mat-icon>
      Games
    </a>
  </button>

  <button mat-menu-item>
    <a routerLink='/rotations' class="footer-text">
      <mat-icon svgIcon="tune"></mat-icon>
      Rotations
    </a>
  </button>

  <button mat-menu-item>
    <a routerLink='/shot-time' class="footer-text">
      <mat-icon svgIcon="clock"></mat-icon>
      Shot Time
    </a>
  </button>

  <button mat-menu-item>
    <a routerLink='/play-type' class="footer-text">
      <mat-icon svgIcon="play-type"></mat-icon>
      Play Type
    </a>
  </button>

  <!-- <button mat-menu-item>
    <a routerLink='/shots' class="footer-text">
      <mat-icon svgIcon="blur"></mat-icon>
      Shots
    </a>
  </button> -->

  <!-- <button mat-menu-item>
    <a routerLink='/game_by_game' class="footer-text">
      <mat-icon svgIcon="grain"></mat-icon>
      Game Log
    </a>
  </button> -->
</mat-menu>