.header {
    display: flex;
    align-items: center;
    color: #673ab7;
    background-color: #aaaaaa;
    padding: 0 20px;
}

.header-title {
    flex: 1;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.nav-link {
    font-weight: 600;
    margin-right: 20px;
}

.btn-header {
    color: aliceblue;
    text-transform: uppercase;
    margin-left: 10px;
    margin-bottom: 1vh;
}

.footer-text {
    flex: 1;
    font-size: 1rem;
    margin: 1rem 0;
    text-decoration: none;
    color: darkslategray;
}