<div class='filterControls' fxLayout='column' fxLayoutAlign='center center'>

    <season-team-controls (update)='updateStarters($event)'></season-team-controls>

    <div id="starter-select-container">
        <mat-form-field id="starter-select">
            <mat-select #startersSelect placeholder="Starters" [(ngModel)]='selectedStarters' 
            [disabled]='!teamSeason.team' multiple>
            <mat-select-trigger>
                {{ getStarterSelectDisplay() }}
            </mat-select-trigger>
                <mat-option #selectAllStarters (click)='toggleAllStarters()'>Toggle All</mat-option>
                <mat-option *ngFor="let s of startersList" [value]='s'>{{displayStarters(s)}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <button mat-raised-button color="primary" (click)="getData()" [disabled]='!(selectedStarters.length > 0)'>UPDATE
            CHART</button>
    </div>
</div>

<div>
    <season-rotations-viz2 #chart></season-rotations-viz2>
</div>