#root {

}

.leftAlign {
    text-align: left;
}

.rightAlign {
    text-align: right;
}

.lineupTable {
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}

.statCol {
    color:lightgray;
    font-weight: bold;
    font-size: 15px;
}