
<mat-form-field>
  <mat-label>Team</mat-label>
  <mat-select [(value)]="team" (selectionChange)="teamChange($event)">
    <mat-option value="both">Both</mat-option>
    <mat-option [value]="home">{{home}}</mat-option>
    <mat-option [value]="away">{{away}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Player 1</mat-label>
  <mat-select [(value)]="player1" (selectionChange)="playerChange()" [disabled]="team === 'both'">
  <mat-option></mat-option>
  <mat-option *ngFor="let player of players" [value]="player">{{player}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Player 2</mat-label>
  <mat-select [(value)]="player2" (selectionChange)="playerChange()" [disabled]="team === 'both'">
  <mat-option></mat-option>
  <mat-option *ngFor="let player of players" [value]="player">{{player}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Player 3</mat-label>
  <mat-select [(value)]="player3" (selectionChange)="playerChange()" [disabled]="team === 'both'">
  <mat-option></mat-option>
  <mat-option *ngFor="let player of players" [value]="player">{{player}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Player 4</mat-label>
  <mat-select [(value)]="player4" (selectionChange)="playerChange()" [disabled]="team === 'both'">
  <mat-option></mat-option>
  <mat-option *ngFor="let player of players" [value]="player">{{player}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Player 5</mat-label>
  <mat-select [(value)]="player5" (selectionChange)="playerChange()" [disabled]="team === 'both'">
  <mat-option></mat-option>
  <mat-option *ngFor="let player of players" [value]="player">{{player}}</mat-option>
  </mat-select>
</mat-form-field>

<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 lineupTable" matSortActive="off_possessions" matSortDirection="desc">

  <ng-container matColumnDef="player1">
    <th mat-header-cell mat-sort-header *matHeaderCellDef class="leftAlign"></th>
    <td mat-cell *matCellDef="let element" class="leftAlign"> {{element.player1}} </td>
  </ng-container>

  <ng-container matColumnDef="player2">
    <th mat-header-cell mat-sort-header *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" class="leftAlign"> {{element.player2}} </td>
  </ng-container>

  <ng-container matColumnDef="player3">
    <th mat-header-cell mat-sort-header *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" class="leftAlign"> {{element.player3}} </td>
  </ng-container>

  <ng-container matColumnDef="player4">
    <th mat-header-cell mat-sort-header *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" class="leftAlign"> {{element.player4}} </td>
  </ng-container>

  <ng-container matColumnDef="player5">
    <th mat-header-cell mat-sort-header *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" class="leftAlign"> {{element.player5}} </td>
  </ng-container>

  <ng-container matColumnDef="team">
    <th mat-header-cell mat-sort-header *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"> {{element.team}} </td>
  </ng-container>

  <ng-container matColumnDef="off_possessions">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Poss </th>
    <td mat-cell *matCellDef="let element"> {{element.off_possessions}} </td>
  </ng-container>

  <ng-container matColumnDef="off_points">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Points </th>
    <td mat-cell *matCellDef="let element"> {{element.off_points}} </td>
  </ng-container>

  <ng-container matColumnDef="def_possessions">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Poss </th>
    <td mat-cell *matCellDef="let element"> {{element.def_possessions}} </td>
  </ng-container>

  <ng-container matColumnDef="def_points">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Points </th>
    <td mat-cell *matCellDef="let element"> {{element.def_points}} </td>
  </ng-container>

  <ng-container matColumnDef="diff">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Point Diff </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': diffColorScale(element.diff), 'color': 'lightgrey'}"> {{element.diff}} </td>
  </ng-container>

  <ng-container matColumnDef="players">
    <th mat-header-cell *matHeaderCellDef> Players </th>
  </ng-container>

  <ng-container matColumnDef="players-fill1">
    <th mat-header-cell *matHeaderCellDef></th>
  </ng-container>

  <ng-container matColumnDef="players-fill2">
    <th mat-header-cell *matHeaderCellDef></th>
  </ng-container>

  <ng-container matColumnDef="players-fill3">
    <th mat-header-cell *matHeaderCellDef></th>
  </ng-container>

  <ng-container matColumnDef="players-fill4">
    <th mat-header-cell *matHeaderCellDef></th>
  </ng-container>

  <ng-container matColumnDef="team-top">
    <th mat-header-cell *matHeaderCellDef> Team </th>
  </ng-container>

  <ng-container matColumnDef="offense1">
    <th mat-header-cell *matHeaderCellDef class="rightAlign"> Defense </th>
  </ng-container>

  <ng-container matColumnDef="offense2">
    <th mat-header-cell *matHeaderCellDef></th>
  </ng-container>

  <ng-container matColumnDef="defense1">
    <th mat-header-cell *matHeaderCellDef class="rightAlign"> Offense </th>
  </ng-container>

  <ng-container matColumnDef="defense2">
    <th mat-header-cell *matHeaderCellDef></th>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef> Total </th>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['players', 'players-fill1', 'players-fill2', 'players-fill3', 'players-fill4', 'team-top', 'offense1', 'offense2', 'defense1', 'defense2', 'total']"></tr>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
