:host {
  text-align: center;
}

.section-header {
  text-align: center;
}

.mat-progress-spinner {
  display: flex;
  margin: auto;
}

.backBtn {
  margin: 20px;
}

.game-page-tab-content {
  padding-top: 25px;
  padding-bottom: 25px;
}