<button mat-raised-button class='backBtn' color='primary' [routerLink]="['/games']">BACK</button>

<div *ngIf="!isLoading">
  <div *ngIf="game">
    <scoreboard [home]="home" [away]="away" [time]='game.scoreboard.time'></scoreboard>

    <br />
    <mat-tab-group mat-stretch-tabs class='game-page-tabs' [selectedIndex]='1'>
      <mat-tab label='Overview'>
        <div *ngIf='game.events' class='game-page-tab-content'>
          <game-overview [events]='game.events' [homeTeam]='home.name' [awayTeam]='away.name'
            [secondsPlayed]='game.secondsPlayed'></game-overview>
        </div>
      </mat-tab>
      <mat-tab label='Rotations'>
        <div *ngIf='game.rotations' class='game-page-tab-content'>
          <game-rotations-viz [rotations]='game.rotations' [scores]='game.scores' [home]='home.name' [away]='away.name'>
          </game-rotations-viz>
        </div>
        <lineups [gameId]='gameId' [home]='home.name' [away]='away.name'></lineups>
      </mat-tab>

      <mat-tab label='Shots'>
        <div *ngIf="game.events" class='game-page-tab-content'>
          <div id='shotChartsContainer' fxLayout="row wrap" fxLayoutAlign="center">
            <div fxLayout="column">
              <game-shot-chart [events]='game.events' [team]='away.name' [isHome]='false'></game-shot-chart>
            </div>
            <div fxLayout="column">
              <game-shot-chart [events]='game.events' [team]='home.name' [isHome]='true'></game-shot-chart>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label='Stats'>
        <div *ngIf="game.stats" class='game-page-tab-content'>
          <expandable-stats-table [stats]='game.stats.home' [team]='home.name'></expandable-stats-table>
          <expandable-stats-table [stats]='game.stats.away' [team]='away.name'></expandable-stats-table>
        </div>
      </mat-tab>

    </mat-tab-group>

  </div>
</div>

<mat-progress-spinner color="primary" mode="indeterminate" *ngIf="isLoading"></mat-progress-spinner>