<footer #footer id="footer" class="footer">
  <div class="footer-entries" fxLayout="row wrap">
    <div class="footer-entry">
      <mat-icon svgIcon="person"></mat-icon>
      <span class="footer-text">Patrick Fenerty</span>
    </div>
    <div class="footer-entry">
      <mat-icon svgIcon="email"></mat-icon>
      <a href="mailto:patrick.fenerty@pm.me" class="footer-text">patrick.fenerty@pm.me</a>
    </div>
    <div class="footer-entry">
      <mat-icon svgIcon="twitter"></mat-icon>
      <a href="https://twitter.com/PhilJFry5" class="footer-text">philjfry</a>
    </div>
    <div class="footer-entry">
      <mat-icon svgIcon="github"></mat-icon>
      <a href="https://gitlab.com/pfenerty/nbapp" class="footer-text">Code</a>
    </div>
  </div>
  <!-- <button mat-raised-button class="btn-header" color="primary" (click)="scrollToTop()">
    <mat-icon svgIcon="arrow.up"></mat-icon>
  </button> -->
</footer>