<h2>Rotations</h2>

<mat-form-field class="rotationsSelect">
  <mat-select placeholder="StartingLineup" [(ngModel)]="selectedStartingLinup" (selectionChange)="filterByStarters()">
    <mat-option>-- ALL --</mat-option>
    <mat-option *ngFor="let s of startingLineups" [value]="s">{{starterDisplay(s)}}</mat-option>
  </mat-select>
</mat-form-field>

<div id="rotationsChartContainer">
</div>

<div id="playerOrderContainer" class="hideSmall">
  <div id="playerOrderPanel">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Customize Player Order</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item *ngFor="let p of filteredPlayers">
            <span class="playerOrderText">{{p}}</span>
            <div class="playerOrderButtons">
              <button mat-icon-button (click)="movePlayer(p, true)">
                <mat-icon svgIcon="arrow.up"></mat-icon>
              </button>
              <button mat-icon-button (click)="movePlayer(p, false)">
                <mat-icon svgIcon="arrow.down"></mat-icon>
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <button mat-raised-button color="primary" (click)="reorderPlayers()" id="updatePlayerOrderButton">UPDATE</button>
</div>
