<div fxLayout='column' fxLayoutAlign='center center'>
  <div>
    <season-team-controls (update)='updateDropDowns($event)'></season-team-controls>
  </div>
  <div>
    <!-- <mat-form-field>
      <mat-select placeholder="Player" [(ngModel)]="player" [disabled]='!teamSeason.players'>
        <mat-option *ngFor="let p of teamSeason.players" [value]="p">{{p}}</mat-option>
      </mat-select>
    </mat-form-field> -->
    <button mat-raised-button color="primary" (click)="getShots()" [disabled]='!player'>GET SHOTS</button>
  </div>

  <div class='player-name'>
    {{player}}
  </div>

  <div id='chart-container'>
    <scatter-shot-chart #chart [events]='events' [team]='teamSeason.team' view='view'></scatter-shot-chart>
  </div>
</div>