@media (max-width: 800px) {
  :host {
    width: 95vw;
  }
}
  
@media (min-width: 801px) {
  :host {
    min-width: 400px;
    width: 40vw;
    margin: 5px;
  }
}
  
:host {
  stroke-width: 0.2;
}
  