<div fxLayout="column" *ngIf='events && events.length > 0'>
  <game-shot-settings #settings [events]='events' [team]='team' view='game' (update)='updateSettings($event)'></game-shot-settings>
  <shot-stats #stats [allEvents]='events' [team]='team' [isHome]='isHome'></shot-stats>
  <scatter-shot-chart #chart [events]='events' [team]='team' view='game'></scatter-shot-chart>
</div>