<div class='filterControls' fxLayout='column' fxLayoutAlign='center center'>

  <div fxLayout='row wrap' fxLayoutAlign='center center'>
    <season-team-controls (update)='updateTeamSeason($event)' showPlayerList='true'></season-team-controls>
  </div>

  <div fxLayout="row" fxLayoutGap="10px">
    <mat-checkbox [(ngModel)]="liveBall">Live Ball</mat-checkbox>
    <mat-checkbox [(ngModel)]="deadBall">Dead Ball</mat-checkbox>
  </div>

  <div>
    <button mat-raised-button color="primary" (click)="updateChart()"
    [disabled]="!initialized || (!liveBall && !deadBall) || !teamSeason.team">UPDATE CHART</button>
  </div>

  <div id='shot-timing-chart' fxLayoutAlign='center center'></div>
</div>