$mat-theme-primary: mat-palette($mat-deep-orange, 700, 300, 900);
$mat-theme-accent: mat-palette($mat-light-blue);
$mat-theme-warn: mat-palette($mat-deep-orange, A200);

$mat-theme: mat-light-theme(
    $mat-theme-primary,
    $mat-theme-accent,
    $mat-theme-warn
);