@import '~@angular/material/theming';
@include mat-core();
@import 'mat-theme.scss';

@include angular-material-theme($mat-theme);

@font-face {
  font-family: 'SF-Pro';
  src: url(assets/fonts/SFCompact/SFCompactDisplay-Regular.otf);
}

@font-face {
  font-family: 'SF-Mono';
  src: url(assets/fonts/SFMono/SFMono-Regular.otf);
}

html,
body,
#root,
.main-content {
  margin: 0;
  font-family: SF-Pro !important;
  background-color: #efefef;
}

@media (max-width: 800px) {
  .hideSmall {
    display: none;
  }
}

svg text {
  font-family: SF-Pro !important;
}

.mono {
  font-family: SF-Mono !important;
}

body [class^='mat-'],
body [class*=' mat-'] {
  font-family: SF-Pro !important;
}

.three-point-area circle,
.three-point-area line,
.foul-circle circle,
.rim circle,
.restricted-area circle,
.inner-court-paint line,
.backboard line,
.court-baseline line,
.court-paint rect {
  stroke: black !important;
  fill: none;
  width: 1;
}

.domain {
  opacity: 0;
}

.playTypeText {
  font-size: 12px !important;
}

.mat-tooltip {
  white-space: pre-line !important;
  font-size: 0.75rem;
}
