<div class='score-board-row'>

  <div class='score-board-row' [ngStyle]="{'opacity': home.score < away.score ? 1 : 0.5}">
    <span class='team-score'>{{away.score}}</span>
    <img class='team-logo' alt='{{away.name}}' src='assets/img/{{away.name}}.png'>
  </div>

  <div id='scoreboard-seperator'>@</div>

  <div class='score-board-row' [ngStyle]="{'opacity': home.score > away.score ? 1 : 0.5}">
    <img class='team-logo' alt='{{home.name}}' src='assets/img/{{home.name}}.png'>
    <span class='team-score'>{{home.score}}</span>
  </div>

</div>

<div class='score-board-row time-display'>
  {{time}}
</div>