.team-logo {
  height: 25vw;
  max-height: 120px;
  width: 25vw;
  max-width: 120px;
}

.score-board-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1188px) {
  .team-score {
    font-size: 8vw;
  }
  .time-display {
    font-size: 4vw;
  }
}

@media (min-width: 1187px) {
  .team-score {
    font-size: 96px;
  }
  .time-display {
    font-size: 48px;
  }
}

#scoreboard-seperator {
  padding: 0 20px;
  font-size: 20px;
}